<!DOCTYPE html>
<meta charset="utf-8">
<style>

.states :hover {
    fill: orange;
}
.states {
    fill: gray;
}

.state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}


</style>
<body>
<svg width="960" height="600"></svg>
<script src="https://d3js.org/d3-array.v1.min.js"></script>
<script src="https://d3js.org/d3-geo.v1.min.js"></script>

<script src="https://d3js.org/d3-selection.v1.min.js"></script>

<script src="https://d3js.org/d3-collection.v1.min.js"></script>
<script src="https://d3js.org/d3-dispatch.v1.min.js"></script>
<script src="https://d3js.org/d3-request.v1.min.js"></script>

<script src="http://d3js.org/topojson.v2.min.js"></script>
<script>


var projection = d3.geoAlbersUsa();
var path = d3.geoPath()
    .projection(projection);

var svg = d3.select("svg");

d3.json("http://0.0.0.0:5000/us/map", function(error, us) {
    if (error) throw error;

    svg.append("g")
      .attr("class", "states")
        .selectAll("path")
      .data(topojson.feature(us, us.objects.states).features)
        .enter().append("path")
      .on("click", function(d,i){
        console.log("MUAHAHAHAHAHAHA")
        console.log(d)
        console.log(this)
        console.log(i)
      })
      .attr("d", path);

    svg.append("path")
        .attr("class", "state-borders")
        .attr("d", path(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; })));

});


</script>

