<!DOCTYPE html>
<meta charset="utf-8">
<style>

.states {
    fill: gray;
    stroke: #fff;
    stroke-width: 0.2px;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#beautiful-map {
    margin:2%;
    padding:20px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    font: 40px Helvetica-Light;
}

</style>

<head>
    <title>click on your home</title>
    <link rel="stylesheet" href="static/state.css">
<body>
    <div id="state-name"></div>
    <div id="beautiful-map"></div>
</body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>

<script>
    // Adapted from http://martin.ankerl.com/2009/12/09/how-to-create-random-colors-programmatically/

    var randomColor = (function(){
        var golden_ratio_conjugate = 0.618033988749895;
        var h = Math.random();

        var hslToRgb = function (h, s, l){
            var r, g, b;

            if(s == 0){
                r = g = b = l; // achromatic
            }else{
                function hue2rgb(p, q, t){
                    if(t < 0) t += 1;
                    if(t > 1) t -= 1;
                    if(t < 1/6) return p + (q - p) * 6 * t;
                    if(t < 1/2) return q;
                    if(t < 2/3) return p + (q - p) * (2/3 - t) * 6;
                    return p;
                }

                var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                var p = 2 * l - q;
                r = hue2rgb(p, q, h + 1/3);
                g = hue2rgb(p, q, h);
                b = hue2rgb(p, q, h - 1/3);
            }

            return '#'+Math.round(r * 255).toString(16)+Math.round(g * 255).toString(16)+Math.round(b * 255).toString(16);
        };

        return function(){
            h += golden_ratio_conjugate;
            h %= 1;
            return hslToRgb(h, 0.5, 0.60);
        };
    })();
</script>


<script>

d3.select(window)
        .on("resize", sizeChange);

var projection = d3.geoAlbersUsa()
    .scale(1100);

var path = d3.geoPath()
    .projection(projection);


var svg = d3.select("#beautiful-map")
    .append("svg")
    .style("width", "100%");

var div = d3.select("body").append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

d3.json("http://0.0.0.0:5000/us/map", function(error, us) {
    if (error) throw error;
    svg.append("g")
      .attr("class", "states")
        .selectAll("path")
      .data(topojson.feature(us, us.objects.states).features)
        .enter().append("path")
      .on("click", function(d,i){
        window.location = "http://0.0.0.0:5001/" + d.properties.STUSPS10;
      })
    .on("mouseover", function(d) {
        d3.select(this)
            .style("fill", randomColor)
            .style("cursor", "pointer");

        $("#state-name").html(d.properties.STUSPS10);

    })
    .on("mouseout", function(d) {
            d3.select(this)
                .style("fill", "gray");
        $("#state-name").html("");

    }).attr("d", path);

    sizeChange();

});

function sizeChange() {
    console.log('size change');

    d3.select("g").attr("transform", "scale(" + $("#beautiful-map").width()/900 + ")");
    $("svg").height($("#beautiful-map").width()*0.618);
}



</script>

