<!DOCTYPE html>
<meta charset="utf-8">
<head>
	<link rel="stylesheet" href="static/state.css">
</head>
<body>
	<script src="https://use.fontawesome.com/46a18a6e30.js"></script>
	<div id="state-legislators" class="cards">
		<div v-for="leg in legis" class="card cardz">
			<h1 class="card-header">{{ leg.name }}</h1>
			<div class="card-basics">
				<div class="custom-grid--halves">
					<div class="custom-grid--halves__a-single-column">
						<img class="card-image" :src="leg.photo"></img>
					</div>
					<div class="custom-grid--halves__a-single-column">
					<div class="cards">
						<div class="card">
						<ul style="list-style: none; padding: 0;">
							<li>{{ leg.party }}</li>
							<li>{{ leg.chamber }}</li>
						</ul>
						</div>
					</div>
					</div>
				</div>
			</div>
<!-- 			<div class="card-copy">
				<li>{{ leg.party }}</li>
				<li>{{ leg.chamber }}</li>
			</div> -->
			<!-- <div class="card-copy"> -->
				<!-- <div v-for="soc in leg.social">
				<a class="icon-link" :href="soc.link" target="_blank">
				<span class="icon">
						<i class="fa fa-google-plus-square" v-if="soc.type == 'GooglePlus'"></i>
						<i class="fa fa-facebook" v-if="soc.type == 'Facebook'"></i>
						<i class="fa fa-twitter" v-if="soc.type == 'Twitter'"></i>
						<i class="fa fa-youtube" v-if="soc.type == 'YouTube'"></i>
					</span>
				</a>
			</div> -->
		</div>
	</div>
</div>
</div>
</body>
<script src="https://unpkg.com/vue"></script>
<script>
// the window.location.pathname replace is janky i know. 
var legis_url = 'http://0.0.0.0:5000/us/'+ window.location.pathname.replace('/', '') + '/reps'
// console.log(legis_url)

// var state_view = new Vue({
//   el: '#state-legislators',
//   data: {
//     legis: [
//       { text: 'Learn JavaScript' },
//       { text: 'Learn Vue' },
//       { text: 'Build something awesome' }
//     ]
//   }
// })

var outtie;
// figure out how to sav
fetch(legis_url)
.then(res => res.json())
.then((out) => {
	console.log('Checkout this JSON! ', out);
	var state_view = new Vue({
		el: '#state-legislators',
		data: {
			legis: out
		}
	})
	outtie = out 
})
.catch(err => console.error(err));

console.log("OUTTIEEEE ", outtie)

</script>

