.title {
    margin-bottom: 0px !important;
}

.level {
    margin-bottom: 0.8rem !important;
}

article.message {
    margin-top: 5px;
    margin-left: 20px;
}

a.icon-link {
    text-decoration: none !important;
}

span.icon {
    margin-right: 10px;
}

img.rep-photo {
    width: 100%;
    object-fit: contain;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

input.custom-home-btn {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.address-p {
    margin-top: 30px;
}

p.address-p input {
    height: 55px;
    font-size: 25px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    /*color: #808080;*/
    color: #666666;
}

body.remove-border {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

article.legis-box {
    box-shadow: none;
    height: 580px !important;
    border: 1px solid #a9a9a9;
}

div.finance-overview {
    height: 15px;
}

.clear {
    clear:both;
}


html, body {
    height: 100%;
}

div#everything {
    height: 100%;
}

div#everything #textarea {
    float: left;
    width: 50%;
    max-width: 45%;
    padding: 10px;
    height: 100%;
    max-height: 100%;
}

div#everything #preview {
    float: right;
    width: 50%;
}

#textarea textarea#what_happen_text {
    /*max-width: 90%;*/
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}