@font-face {
    font-family: Helvetica-Light;
    src: url(Helvetica-Light.ttf);
}

.title {
    margin-bottom: 0px !important;
}

.level {
    margin-bottom: 0.8rem !important;
}

article.message {
    margin-top: 5px;
    margin-left: 20px;
}

nav.panel {
    margin-left: 20px;
}

nav.extra-credit p.panel-heading {
    background-color: #f6fef9;
    border-color: #23d160;

}

nav.extra-credit div.panel-block {
    background-color: #f6fef9;
    border-color: #23d160 !important;
}

nav.extra-credit div.panel-block p span{
    display: block;
    margin-bottom: 3px;
}

nav.extra-credit p.panel-tabs {
    border-color: #23d160;
}

nav.extra-credit p.panel-tabs a {
    border-color: #23d160;
    color: #188f41;
}

nav.extra-credit p.panel-tabs a.is-active {
    border-color: #126d32;
    color: #0a3a1b;
}


a.icon-link {
    text-decoration: none !important;
}

span.icon {
    margin-right: 10px;
}

img.rep-photo {
    width: 100%;
    object-fit: contain;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

input.custom-home-btn {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p.address-p {
    margin-top: 30px;
}

p.address-p input {
    height: 55px;
    font-size: 25px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    /*color: #808080;*/
    color: #666666;
}

body.remove-border {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

article.legis-box {
    box-shadow: none;
    height: 580px !important;
    border: 1px solid #a9a9a9;
}

div.finance-overview {
    height: 15px;
}