{% extends 'index.html' %}
{% block body %}
<body class="container is-fluid is-mobile" style="margin-top:20px">
<div class="tile is-ancestor is-mobile">
    <div class="tile is-vertical is-parent">

        {% for rep in reps %}
        <article class="tile is-child box notification legis-box">

            <div class="level">
                <p class="level-left title">{{ rep.name }}
                </p>
                <p class="level-right title">{{ rep.party }}</p>
            </div>

            <div class="tile is-parent">

                <!--      PICTURE     -->
                <div class="tile is-child is-2">
                    {% if rep.photo %}
                    <img class="rep-photo" src="{{ rep.photo }}">
                    {% else %}
                    <img src="{{ url_for('static', filename='default-profile-image.jpg') }}">
                    {% endif %}
                </div>

                <!-- CONTACT AND SHIT -->
                <div class="tile is-child is-3">

                    <article class="message is-dark">
                        <div class="message-body has-text-left">
                            {% for key, value in rep.contact.items() %}

                            {% if key == 'url' %}
                            <a href="{{ value }}" target="_blank">Website</a>
                            {% else %}
                            <p> {{ value }} </p>
                            {% endif %}

                            {% endfor %}
                        </div>
                    </article>
                    {% if rep.social %}
                    <article class="message is-warning">
                        <div class="message-body has-text-left">
                            {% for social in rep.social %}
                            <a class="icon-link" href="{{social.link}}" target="_blank"><span class="icon is-medium">
                                {% if social.type == 'GooglePlus' %}
                                <i class="fa fa-google-plus-square"></i>
                                {% elif social.type == 'Facebook' %}
                                <i class="fa fa-facebook"></i>
                                {% elif social.type == 'Twitter' %}
                                <i class="fa fa-twitter"></i>
                                {% elif social.type == 'YouTube' %}
                                <i class="fa fa-youtube"></i>
                                {% endif %}
                            </span>
                            </a>
                            {% endfor %}
                        </div>
                    </article>
                    {% endif %}

                    {% if rep.committees %}
                    <article class="message is-success">
                        <div class="message-body has-text-left">
                            <p><b>Current Term</b></p>
                            {% for value in rep.committees %}
                            <p>
                                {% if value.position %}
                                {{ value.position }} of
                                {% endif %}
                                <b>{{value.name.replace("&#39;", "'")}}</b>
                            </p>
                            {% endfor %}
                        </div>
                    </article>
                    {% elif rep.old_committees %}
                    <article class="message is-success">
                        <div class="message-body has-text-left" style="max-height:100px;overflow:scroll">
                            <p><b>{{ rep.old_term_ordinal }} Term</b></p>
                            {% for value in rep.old_committees %}
                            <p> {{ value.position }} of <b>{{value.name}}</b></p>
                            {% endfor %}
                        </div>
                    </article>
                    {% endif %}

                </div>


                <!-- BILL CHART -->
                <div class="tile is-4 is-vertical">
                    {% if rep.finance %}
                        {% if rep.finance.contrib %}

                        <div class="tile">
                            <embed typer="image/svg+xml" src="{{ rep.finance.contrib |safe }}" style="width:100%;"/>
                        </div>

                        {% endif %}

                        {% if rep.finance.overall %}
                            <!--<div class="tile finance-overview">-->
                                <!--{% for key, value in rep.finance.overall.items() %}-->
                                <!--<span>{{ key }}: {{ value }}</span>-->
                                <!--{% endfor %}-->
                            <!--</div>-->

                        {% endif %}
                    {% endif %}

                    {% if rep.bill_chart_type == 'pie' %}
                    <embed type="image/svg+xml" src="{{ rep.bill_chart|safe }}" style="width:100%"/>
                    {% elif rep.bill_chart_type == 'word_cloud' %}
                    <img src="clouds/{{ rep.bill_chart }}" style="object-fit:scale-down;object-position:0% 0%;padding-left:2%;"/>
                    {% endif %}
                </div>

                <div class="tile is-child is-3">
                    <p class="title is-5 has-text-right">{{ rep.chamber }}</p>
                </div>

            </div>


        </article>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}