<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See we're doing things</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='what_happen.css') }}">
</head>

<body>

<div id="everything">
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>
<script type="text/javascript">
//    var mkd = "{{ test|safe }}";
//    console.log('mkd', mkd)
//    var converter = new showdown.Converter({
//        strikethrough: true,
//        simpleLineBreaks: true
//    });
//
//    var parsedHtml = converter.makeHtml(mkd);
//    document.getElementById("preview").innerHTML  = parsedHtml;
</script>
</body>
</html>