<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See we're doing things</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='whats_happenin.css') }}">
</head>

<body style="background-color:{{ background_color }};">

<div id="everything">
    <div id="textarea">
        <textarea id="what_happen_text">{{ text }}</textarea>
    </div>
    <div id="preview">
        {{ text|markdown }}
    </div>

    <div class="clear"></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>
<script type="text/javascript">
    var isConnected = false;
    var converter = new showdown.Converter({
        strikethrough: true,
        simpleLineBreaks: true
    });

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        isConnected = true;
    });

    socket.on('ACK', function() {
        converter.setOption('strikethrough', true);
        var parsedHtml = converter.makeHtml(document.getElementById('what_happen_text').value);
        document.getElementById("preview").innerHTML = parsedHtml;
    });

    //TODO: add text diff check before sending
    setInterval(function() {
        console.log('sent updates');
        var todo = document.getElementById("what_happen_text").value;
        send_md(todo.trim());
    }, 5000);

    function send_md(todo) {
        if (isConnected) { socket.emit('md change', todo); }
    }

</script>
</body>
</html>