<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>See we're doing things - EDIT MODE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='md_template.css') }}">
</head>

<body>

<div id="everything">
    <div id="textarea">
        <textarea id="what_happen_text">{{ text }}</textarea>
    </div>
    <div id="preview"></div>
    <div class="clear"></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.6.4/showdown.min.js"></script>

<script type="text/javascript">
    var isConnected = false;
    var converter = new showdown.Converter({
        strikethrough: true,
        simpleLineBreaks: true,
        tables: true
    });

    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        isConnected = true;
        load_editor();
    });

    socket.on('ACK', function() {
        load_editor();
    });

    setInterval(function() {
        var todo = document.getElementById("what_happen_text").value.trim();
        send_md(todo);
    }, 5000);

    function send_md(todo) {
        console.log('sending msg');
        if (isConnected) { socket.emit('md change', todo); }
    }

    function load_editor() {
        var parsedHtml = converter.makeHtml(document.getElementById('what_happen_text').value.trim());
        document.getElementById("preview").innerHTML  = parsedHtml;
    }

</script>
</body>
</html>